#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

yarn-error.log

# Env file to override the configuration
.env

#Windows installer generated archive
/launcher/windows-installer/
/launcher/target/

# Generate secrets folder, but don't commit files
src/test/resources/secret/*
!src/test/resources/secret/.gitkeep
src/test/resources/secret/bundles-v1-1-0/*
!src/test/resources/secret/bundles-v1-1-0/.gitkeep
src/test/resources/secret/bundles-multiples-v1-1-0/*
!src/test/resources/secret/bundles-multiples-v1-1-0/.gitkeep

# Log folder
logs/*
!logs/.gitkeep
