[submodule "src/main/resources/META-INF/resources/frontend"]
	path = src/main/resources/META-INF/resources/frontend
	url = https://github.com/ere-health/front-end-ere.health.git
	branch = ERE-381---Demo-Erixa
